html, body {
  margin: 0;
  padding: 0;

}

body
.aboutme
 {
  font-family: serif;, sans-serif;
  font-weight: 100;
  color: darkslategrey;
  background: lightgrey;
   border-style: solid
}

h1 {
  color: cadetblue;
  font-style: bold;
  font-size: 60px;

}

h2 {
  color: mediumpurple;
  font-style: normal;
  font-size: 30px;
}

p {
  color:darkslategrey;
  font-size: 20px;
  font-style: oblique;
}